<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatting Application</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Mini WhatsApp</h1>
    <div class="home">
      <p>
        Experience the charm of simplified communication with our Mini WhatsApp.
        Dive into a world of seamless chats and sparkling smiles. Whether you're
        connecting with friends, family, or colleagues, our tooth-brushing shark
        superhero, Sharky, ensures a clean and friendly environment beneath the
        waves of the digital ocean. Explore the depths of meaningful
        conversations with an easy-to-use interface. Our commitment to oral
        hygiene extends beyond the ocean as we promote healthy communication and
        vibrant connections. Join the pod of users who've made Mini WhatsApp
        their go-to chatting haven. Unleash your creativity with a wide array of
        expressive emojis and stickers. Mini WhatsApp brings a splash of fun to
        your messages, making every chat a delightful experience. Plus, our
        advanced security features ensure your conversations remain as private
        as a hidden treasure chest in the ocean depths. In the world of Mini
        WhatsApp, innovation meets simplicity. Stay connected, share moments,
        and let the waves of communication carry you to new horizons. Make Mini
        WhatsApp your trusted companion for a journey filled with laughter,
        warmth, and meaningful connections.
      </p>
      <form method="GET" action="/chats">
        <button>Contniue to chat</button>
      </form>
    </div>
  </body>
</html>
